.eb_signup .eb_signup_item input { border: 1px solid #ccc; padding: 3px 5px; margin: 3px 5px 3px 0px; font-size: 85%;}
.eb_signup .eb_signup_item label { display: block; margin-top: 8px; }
.eb_signup input[type=submit] { margin-top: 10px; }
.eb_error { font-size: 80%; color: red; font-style: italic; margin: 10px; display: block; text-align: center;}